body
{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(138, 14, 0);
    color: white;
}
h1
{
    font-size: 250%;
}
p
{
    font-size: 120%
}
button
{
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
}
button:active
{
    background-color: black;
}
.container
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: 30vh;
    width: 80%;
}
